@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
@font-face {
  font-family: BebasNeueRegular;
  src: url("./fonts/BebasNeueRegular.otf");
}
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
h1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 900;
  margin: 30px 0;
  text-transform: uppercase;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 56px;
  color: #67cae8;
}
p {
  color: #67cae8;
  font-size: 1.5rem;
  line-height: 28px;
  font-weight: 400;
  margin: 10px 0;
}
p.small {
  font-size: 1rem;
}
p.lead {
  font-size: 2.25rem;
  line-height: 42px;
  font-weight: bold;
  margin: 20px 0;
}
p span {
  text-transform: uppercase;
  font-size: 2.375rem;
  font-weight: bold;
  line-height: 56px;
}
a,
li {
  color: #67cae8;
  font-size: 1.5rem;
  line-height: 28px;
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  color: #f7ff80 !important;
  text-shadow: #67cae8 -2px -2px;
}
img {
  width: 100%;
}
span {
  color: #67cae8;
}
#delimiter1,
#delimiter2 {
  z-index: 9;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}
#delimiter1 {
  background-color: #67cae8;
}
#delimiter2 {
  background-color: #f7ff80;
}
.onescroll-section>div {
  align-items: center;
  color: #67cae8;
  height: 100vh;
  background-repeat: no-repeat;
}
.one-page-scroll {
  position: relative;
}
.studio-name {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  top: 30px;
  font-size: 2.5em;
  z-index: 4;
}
@media (max-width: 530px) {
  .studio-name {
    width: 60%;
  }
}
button.burger,
button.mobileBurger {
  z-index: 10;
  position: fixed;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  right: 4rem;
}
button.burger svg,
button.mobileBurger svg {
  position: fixed;
}
button.burger {
  opacity: 0;
}
.mobileBurger {
  right: 4rem;
}
.mobileBurger svg:nth-child(1) {
  top: 2rem;
}
.mobileBurger svg:nth-child(2) {
  top: 2.6rem;
}
.mobileBurger svg:nth-child(3) {
  top: 3.2rem;
}
.navbar {
  user-select: none;
  position: fixed;
  bottom: 4em;
  right: 4em;
}
.navbar a {
  color: #000;
  text-shadow: #67cae8 -2px -2px;
  z-index: 10;
}
.mobileNavContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #f7ff80;
  z-index: 5;
}
.mobileNavContainer a {
  opacity: 0;
}
.mobileNavContainer div[class="col-12"] {
  margin: 10px;
  text-align: center;
}
.categoryLetter {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  color: #fff;
  font-size: 500px;
  transform: translate(-50%, -50%);
  text-shadow: #67cae8 -30px -35px;
  user-select: none;
}
.controls {
  z-index: 5;
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translate(-50%);
}
.control-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 10em;
  cursor: pointer;
}
.control-button:nth-child(n),
.control-label:nth-child(n) {
  color: #67cae8;
}
.control-button:nth-child(2),
.control-label:nth-child(2) {
  color: #fff;
}
.portfolioLink {
  position: absolute;
  font-size: 18px;
  bottom: 7em;
  left: 5em;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 100;
  border-bottom: 1px solid #67cae8;
}
.bot-hint {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.mainbg {
  background-color: #67cae8;
}
.mainbg p,
.mainbg h3,
.mainbg h1,
.mainbg h2 {
  color: #fff;
}
.elect {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #000;
  text-shadow: #67cae8 -0.3rem -0.4rem;
  user-select: none;
}
.contacts-box {
  position: relative;
  background: linear-gradient(90deg, #fff 50%, #67cae8 50%);
}
.contacts-box>div {
  padding-top: 100px;
  padding-bottom: 100px;
}
.clients-box {
  background-color: #67cae8;
  padding-top: 150px;
  padding-bottom: 150px;
}
.clients-box p {
  color: #fff;
}
form input {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  padding-top: 20px;
  color: #9b9b9b;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  background-color: transparent;
  margin: 10px 0;
}
form input:focus,
form button:focus {
  outline: none;
}
form input:focus::placeholder {
  color: transparent;
}
form button {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #67cae8;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fb0;
  padding: 10px 0;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.3rem;
  }
  p .lead {
    font-size: 1.75rem;
    line-height: 35px;
  }
}
@media (max-width: 992px) {
  .categoryLetter {
    left: 80%;
  }
  .control-button:nth-child(n),
  .control-label:nth-child(n) {
    color: #67cae8;
  }
  .control-button:nth-child(2),
  .control-label:nth-child(2) {
    color: #67cae8;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
  .control-button {
    font-size: 6rem;
  }
  .portfolioLink {
    bottom: 10rem;
    left: 2rem;
  }
  .categoryLetter {
    font-size: 300px;
    left: 55%;
    top: 25%;
  }
  .contacts-box>div {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .clients-box {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h1 {
    font-size: 2.5rem;
  }
  p span {
    font-size: 1.375rem;
    line-height: 1;
  }
  p.lead {
    font-size: 2rem;
    line-height: 1;
  }
  .categoryLetter {
    font-size: 200px;
    top: 20%;
    text-shadow: #67cae8 -10px -15px;
  }
  .control-button {
    font-size: 4rem;
  }
  .contacts-box {
    background: #67cae8;
  }
  .contacts-box h3,
  .contacts-box p {
    color: #fff !important;
  }
  .order-fix {
    order: 2;
  }
  .contacts-box>div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.m-bot-m {
  margin-bottom: 150px;
}
.m-bot-l {
  margin-bottom: 300px;
}
.clients-box .row>div {
  margin: 20px 0;
}
.contacts-box>div:last-child {
  padding-top: 0;
}
