mainColor = #67CAE8
acsentColor = #F7FF80

// FONTS

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;

body
    font-family: 'Raleway', sans-serif
.row 
    margin: 0 !important
h1  
    font-size 6rem
    line-height 1
    font-weight 900
    margin: 30px 0
    text-transform uppercase
h2 
    font-size 4.5rem
p 
    color: mainColor
    font-size 1.5rem
    line-height 28px
    font-weight 400
    &.lead
        font-size 2.250rem
        line-height 42px
        font-weight bold
        margin: 20px 0
    & span 
        text-transform uppercase
        font-size 2.375rem
        font-weight bold
        line-height 56px
a, li
    color: mainColor
    font-size 1.5rem
    line-height 28px
    font-weight 300 
    text-decoration: none  
a:hover
    color: acsentColor !important
    text-shadow: mainColor -2px -2px

// SECTIONS
.one-page-scroll>div>div>div>div
    align-items center
    color: mainColor
    height 100vh
    background-repeat no-repeat

// section indicators
.one-page-scroll>div>ul
    display: none

// LOGO PAGE

.studio-name
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    top: 30px;
    font-size: 2.5em;
    z-index: 10
@media (max-width: 530px) {
    .studio-name {
        width: 60%;
    }
}

// BURGER

button.burger,
button.mobileBurger
    position fixed
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent
    & svg 
        position fixed
button.burger
    opacity 0
.mobileBurger
    right 4rem
    z-index: 10
    & svg
        &:nth-child(1)
            top: 2rem
        &:nth-child(2)
            top: 2.6rem
        &:nth-child(3)
            top: 3.2rem


// NAVBAR
.navbar
    user-select none
    position: fixed;
    bottom: 4em;
    right: 4em;
.navbar a
    color: black
    text-shadow: mainColor -2px -2px;
    z-index: 10

.mobileNavContainer
    display: none
    position: fixed;
    top: 0;
    left: 0;
    height 0
    width: 100%;
    background-color: acsentColor;
    z-index: 5;
    & a  
        opacity 0
    & div[class="col-12"]
        margin: 10px;
        text-align: center;


// PORTFOLIO PAGE
.categoryLetter {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    color: white;
    font-size: 500px;
    transform: translate(-50%, -50%);
    text-shadow: #67CAE8 -30px -35px;
    user-select none
}

.controls {
    z-index: 5;
    position: absolute;
    bottom: 5em;
    left: 50%;
    transform: translate(-50%);
}

.control-button
    background-color: transparent;
    border: none;
    outline: none;
    font-size 10em
    cursor pointer
.control-button,
.control-label
    &:nth-child(n)
        color: mainColor
    &:nth-child(2)
        color: white
    
.portfolioLink
    position: absolute
    font-size: 18px
    bottom: 7em
    left: 5em
    text-transform: uppercase
    padding-bottom: 10px
    font-weight: 100
    border-bottom: 1px solid mainColor

// FEATURES

.bot-hint
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%)
    text-align: center

.mainbg 
    background-color: mainColor

.elect
    color: black
    text-shadow: mainColor -0.4rem -0.5rem
    user-select: none

// boxes
.contacts-box, .clients-box
    background-color: mainColor
    padding-top: 150px
    padding-bottom 150px
    & p
        color: white

.clients-box div[class^="col-"]
    display flex
    justify-content: center
    margin-top: 50px
    margin-bottom 50px

// FORM
form input {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  padding-top: 20px;
  color: #9b9b9b;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  background-color: transparent;
  margin: 10px 0;
}
form input:focus,
form button:focus {
  outline: none;
}
form input:focus::placeholder {
  color: transparent;
}
form button {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: mainColor
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fb0;
  padding: 10px 0;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
}

@media (max-width 1200px)
    h1 
        font-size 5rem
    p  
        font-size 1.3rem
        & .lead
            font-size 1.75rem
            line-height 35px

@media (max-width 992px)
    .categoryLetter
        left 80%
    .control-button,
    .control-label
        &:nth-child(n)
            color: mainColor
        &:nth-child(2)
            color: mainColor

@media (max-width 768px)
    .control-button
        font-size 6rem
    .portfolioLink
        bottom: 10rem
        left: 2rem
    .categoryLetter
        font-size 300px
        left 55%
        top: 25%

@media (max-width 576px)
    h1  
        font-size 2.5rem
    p  
        & span  
            font-size 1.375rem
            line-height 1
        &.lead
            font-size 2rem
            line-height 1
    .categoryLetter
        font-size 200px
        top: 20%
        text-shadow: mainColor -10px -15px
    .control-button
        font-size 4rem
    .clients-box
        padding-top 0
        padding-bottom 0